USE [t2s]
GO
/****** Object:  Table [dbo].[container]    Script Date: 10/01/2021 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[container](
	[idContainer] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[nmNumeroCntr] [char](11) NOT NULL,
	[idTipo] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
 CONSTRAINT [PK_container] PRIMARY KEY CLUSTERED 
(
	[idContainer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 10/01/2021 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nmCliente] [varchar](50) NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 10/01/2021 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[idStatus] [int] IDENTITY(1,1) NOT NULL,
	[nmStatus] [varchar](100) NOT NULL,
	[idTipoStatus] [int] NOT NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimentacao]    Script Date: 10/01/2021 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimentacao](
	[idMovimentacao] [int] IDENTITY(1,1) NOT NULL,
	[idContainer] [int] NOT NULL,
	[idNavio] [int] NOT NULL,
	[idTipoMovimentacao] [int] NOT NULL,
	[dtInicio] [datetime] NOT NULL,
	[dtFim] [datetime] NOT NULL,
 CONSTRAINT [PK_movimentacao] PRIMARY KEY CLUSTERED 
(
	[idMovimentacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwMovimentacoes]    Script Date: 10/01/2021 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwMovimentacoes]
as

select 
cl.nmCliente as cliente,
st.nmStatus as tipoMovimentacao,
count(mv.idMovimentacao) as qtdeMovimentacoes
from 
	movimentacao mv
	inner join container ct on mv.idContainer = ct.idContainer 
	inner join cliente cl on ct.idCliente = cl.idCliente
	inner join status st on st.idStatus = mv.idTipoMovimentacao
group by
	cl.nmCliente,
	st.nmStatus
GO
/****** Object:  Table [dbo].[navio]    Script Date: 10/01/2021 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[navio](
	[idNavio] [int] IDENTITY(1,1) NOT NULL,
	[nmNavio] [varchar](50) NOT NULL,
 CONSTRAINT [PK_navio] PRIMARY KEY CLUSTERED 
(
	[idNavio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD  CONSTRAINT [FK_categoria_container] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[status] ([idStatus])
GO
ALTER TABLE [dbo].[container] CHECK CONSTRAINT [FK_categoria_container]
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD  CONSTRAINT [fk_cliente_container] FOREIGN KEY([idCliente])
REFERENCES [dbo].[cliente] ([idCliente])
GO
ALTER TABLE [dbo].[container] CHECK CONSTRAINT [fk_cliente_container]
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD  CONSTRAINT [FK_status_container] FOREIGN KEY([idStatus])
REFERENCES [dbo].[status] ([idStatus])
GO
ALTER TABLE [dbo].[container] CHECK CONSTRAINT [FK_status_container]
GO
ALTER TABLE [dbo].[container]  WITH CHECK ADD  CONSTRAINT [FK_tipo_container] FOREIGN KEY([idTipo])
REFERENCES [dbo].[status] ([idStatus])
GO
ALTER TABLE [dbo].[container] CHECK CONSTRAINT [FK_tipo_container]
GO
ALTER TABLE [dbo].[movimentacao]  WITH CHECK ADD  CONSTRAINT [FK_container_navio] FOREIGN KEY([idNavio])
REFERENCES [dbo].[navio] ([idNavio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movimentacao] CHECK CONSTRAINT [FK_container_navio]
GO
ALTER TABLE [dbo].[movimentacao]  WITH CHECK ADD  CONSTRAINT [FK_tipoMovimentacao_movimentacao] FOREIGN KEY([idTipoMovimentacao])
REFERENCES [dbo].[status] ([idStatus])
GO
ALTER TABLE [dbo].[movimentacao] CHECK CONSTRAINT [FK_tipoMovimentacao_movimentacao]
GO
